<form (ngSubmit)="handleRegister()" [formGroup]="registerForm">
  <h3>Register Here</h3>

  <label for="email">Email</label>
  <input formControlName="email" type="text" placeholder="Email" id="email" />

  <label for="username">Username</label>
  <input
    formControlName="username"
    type="text"
    placeholder="username123"
    id="username"
  />

  <label for="password">Password</label>
  <input
    formControlName="password"
    type="password"
    placeholder="Password"
    id="password"
  />

  <label for="repass">Re-Password</label>
  <input
    formControlName="repass"
    type="repass"
    placeholder="******"
    id="repass"
  />

  <button [disabled]="registerForm.invalid" class="primary-btn">
    Register
  </button>

  <div class="reg-link">
    <a routerLink="/login">You have an account? Sign In now!</a>
  </div>
</form>
