<form
  class="login"
  action=""
  method="post"
  [formGroup]="loginFormGroup"
  (ngSubmit)="onSubmit()"
>
  <fieldset>
    <h2>Login Form</h2>

    <p class="field field-icon">
      <label for="email"
        ><span><i class="fas fa-envelope"></i></span
      ></label>
      <input
        class="input-error"
        type="email"
        name="email"
        id="email"
        placeholder="john.doe@gmail.com"
        formControlName="email"
      />
    </p>
    <!-- <p class="error">Email is required!</p> -->

    <ng-container
      *ngIf="
        loginFormGroup.controls.email.touched &&
        loginFormGroup.controls.email.invalid
      "
    >
      <p class="error" *ngIf="loginFormGroup.controls.email.errors.required">
        Email is required!
      </p>
      <p
        class="error"
        *ngIf="
          !loginFormGroup.controls.email.errors.required &&
          loginFormGroup.controls.email.errors.email
        "
      >
        Email is not valid!
      </p>
    </ng-container>

    <p class="field field-icon">
      <label for="password"
        ><span><i class="fas fa-lock"></i></span
      ></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="******"
        formControlName="password"
      />
    </p>
    <ng-container
      *ngIf="
        loginFormGroup.controls.password.touched &&
        loginFormGroup.controls.password.invalid
      "
    >
      {{ loginFormGroup.controls.password.errors | json }}
      <p class="error" *ngIf="loginFormGroup.controls.password.errors.required">
        Password is required!
      </p>
      <p
        class="error"
        *ngIf="loginFormGroup.controls.password.errors.minlength"
      >
        Password must be at least 5 characters!
      </p>
    </ng-container>

    <button [disabled]="loginFormGroup.invalid">Login</button>

    <p class="text-center">
      Have an account?
      <a href="#">Register</a>
    </p>
  </fieldset>
</form>
