<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div *ngIf="!!topic; else loader" id="container">
  <div class="product-details">
    <h1>{{ topic.title }}</h1>
    <p class="information">{{ topic.description }}</p>

    <div class="control">
      <button *ngIf="!isParticipant" (click)="likeHandler()" class="btn">
        <span class="like">Like</span>
      </button>
      <button *ngIf="isParticipant" (click)="cancelLikeHandler()" class="btn">
        <span class="unlike">Unlike</span>
      </button>
      <a routerLink="/edit/{{ topicId }}">
        <button class="btn">
          <span class="buy">Edit</span>
        </button>
      </a>
      <button class="btn">
        <span class="delete" (click)="(deleteHandler)">Delete</span>
      </button>
    </div>
  </div>

  <div class="product-image">
    <img src="{{ topic.photoUrl }}" alt="topic_Photo" />

    <div class="info">
      <h2>Description</h2>
      <ul>
        <li><strong>Height : </strong>5 Ft</li>
        <li><strong>Shade : </strong>Olive green</li>
        <li><strong>Decoration: </strong>balls and bells</li>
        <li><strong>Material: </strong>Eco-Friendly</li>
      </ul>
    </div>
  </div>
</div>

<ng-template #loader>
  <div class="ring">
    Loading
    <span></span>
  </div>
</ng-template>
