<section class="createPage">
  <form (ngSubmit)="onSubmit()" [formGroup]="createContestForm">
    <fieldset>
      <legend>Add Contest</legend>
      <div class="container">
        <label for="title" class="vhide">Title</label>
        <input
          formControlName="title"
          id="title"
          name="title"
          class="name"
          type="text"
          placeholder="Title"
          [ngClass]="{
            'input-error':
              createContestForm.controls['title'].invalid &&
              createContestForm.controls['title'].touched
          }"
        />
        <div
          *ngIf="
  createContestForm.controls['title'].errors?.['required'] &&
  createContestForm.controls['title'].touched
"
          class="alert-error"
        >
          Title is required!
        </div>

        <label for="date" class="vhide">Date</label>
        <input
          formControlName="date"
          id="date"
          name="date"
          class="name"
          type="text"
          placeholder="dd/mm/yyyy"
          [ngClass]="{
            'input-error':
              createContestForm.controls['date'].invalid &&
              createContestForm.controls['date'].touched
          }"
        />
        <div
          *ngIf="
  createContestForm.controls['date'].errors?.['required'] &&
  createContestForm.controls['date'].touched
"
          class="alert-error"
        >
          Date is required!
        </div>

        <label for="place" class="vhide">Place</label>
        <input
          formControlName="place"
          id="place"
          name="place"
          class="name"
          type="text"
          placeholder="Sofia,Bulgaria"
          [ngClass]="{
            'input-error':
              createContestForm.controls['place'].invalid &&
              createContestForm.controls['place'].touched
          }"
        />
        <div
          *ngIf="
  createContestForm.controls['place'].errors?.['required'] &&
  createContestForm.controls['place'].touched
"
          class="alert-error"
        >
          Place is required!
        </div>

        <label for="photoUrl" class="vhide">PhotoUrl</label>
        <input
          formControlName="photoUrl"
          id="photoUrl"
          name="photoUrl"
          class="name"
          type="text"
          placeholder="http:..."
          [ngClass]="{
            'input-error':
              createContestForm.controls['photoUrl'].invalid &&
              createContestForm.controls['photoUrl'].touched
          }"
        />
        <div
          *ngIf="
  createContestForm.controls['photoUrl'].errors?.['required'] &&
  createContestForm.controls['photoUrl'].touched
"
          class="alert-error"
        >
          PhotoUrl is required!
        </div>

        <label for="description" class="vhide">Description</label>
        <textarea
          formControlName="description"
          name="description"
          class="description"
          placeholder="Description"
          [ngClass]="{
            'input-error':
              createContestForm.controls['description'].invalid &&
              createContestForm.controls['description'].touched
          }"
        ></textarea>
        <div
          *ngIf="
createContestForm.controls['description'].errors?.['required'] &&
createContestForm.controls['description'].touched
"
          class="alert-error"
        >
          Description is required!
        </div>
        <button class="add-album" type="submit">Submit</button>
      </div>
    </fieldset>
  </form>
</section>
