<nav class="nav">
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li *ngIf="isLoggedIn$ | async"><a routerLink="/posts">Posts</a></li>
    <li *ngIf="isLoggedIn$ | async"><a routerLink="/my-posts">My Posts</a></li>
    <li *ngIf="isLoggedIn$ | async"><a routerLink="/add-post">Add Contest</a></li>
    <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Login</a></li>
    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="/register">Register</a>
    </li>
    <li><a routerLink="/about">About Us</a></li>
    <li *ngIf="isLoggedIn$ | async"><a (click)="onLogout()">Logout</a></li>
  </ul>
</nav>
