<form class="register" [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
  <fieldset>
    <h2>Registration Form</h2>

    <!-- username -->
    <p class="field field-icon">
      <label for="username"
        ><span><i class="fas fa-user"></i></span
      ></label>
      <input
        formControlName="username"
        class="input-error"
        type="text"
        name="username"
        id="username"
        placeholder="Johny"
      />
    </p>
    <ng-container *ngIf="shouldShowErrorForControl('username')">
      <p
        class="error"
        *ngIf="registerFormGroup.controls.username.errors.required"
      >
        Username is required!
      </p>
      <p
        class="error"
        *ngIf="registerFormGroup.controls.username.errors.minlength"
      >
        Username must be at least 5 characters!
      </p>
    </ng-container>
    <!-- email -->
    <p class="field field-icon">
      <label for="email"
        ><span><i class="fas fa-envelope"></i></span
      ></label>
      <input
        formControlName="email"
        type="email"
        name="email"
        id="email"
        placeholder="john.doe@gmail.com"
      />
    </p>
    <ng-container *ngIf="shouldShowErrorForControl('email')">
      <p class="error" *ngIf="registerFormGroup.controls.email.errors.required">
        Email is required!
      </p>
      <p class="error" *ngIf="registerFormGroup.controls.email.errors.email">
        Email must be at leat 5 characters!
      </p>
    </ng-container>
    <!-- telephone -->
    <p class="field field-icon">
      <label for="tel"
        ><span><i class="fas fa-phone"></i></span
      ></label>
      <select
        name="telRegion"
        id="telRegion"
        class="tel"
        formControlName="telRegion"
      >
        <option value="00359">+359</option>
        <option value="00359">+389</option>
        <option value="00359">+589</option>
      </select>
      <input
        formControlName="tel"
        type="text"
        name="tel"
        id="tel"
        placeholder="885 888 888"
      />
    </p>
    <div formGroupName="passwords">
      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          placeholder="******"
        />
      </p>
      <ng-container
        *ngIf="shouldShowErrorForControl('password', passwordsGroup)"
      >
        <p *ngIf="passwordsGroup.controls.password.required" class="error">
          Password is required!
        </p>
        <p *ngIf="passwordsGroup.controls.password.minlength" class="error">
          Password must be at least 4 characters!
        </p>
      </ng-container>

      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          formControlName="rePassword"
          type="password"
          name="rePassword"
          id="rePassword"
          placeholder="******"
        />
      </p>
      <ng-container
        *ngIf="shouldShowErrorForControl('rePassword', passwordsGroup)"
      >
        <p class="error">Password is required!</p>
      </ng-container>
      <!-- <p class="error">Repeat Password does not match password!</p> -->
    </div>
    <!-- password -->

    <button [disabled]="registerFormGroup.invalid">Create Account</button>

    <p class="text-center">
      Have an account?
      <a href="#">Log In</a>
    </p>
  </fieldset>
</form>
