<div>
  <h1 class="topics-represent">All TOPICS...</h1>
</div>
<section *ngIf="topics | async as topics; else loader" id="latest-topics">
  <div class="cards-container">
    <ul *ngIf="objectKeys(topics).length > 0" class="topics">
      <li class="topic" *ngFor="let topicId of objectKeys(topics)">
        <app-topic-card
          [topicId]="topicId"
          [topic]="topics[topicId]"
        ></app-topic-card>
      </li>
    </ul>

    <div *ngIf="objectKeys(topics).length === 0" class="no-data-container">
      <p class="no-data">There are not published topics...</p>
    </div>
  </div>
</section>
<ng-template #loader>
  <div class="ring">
    Loading
    <span class="ring_span"></span>
  </div>
</ng-template>
