.home-container {
  margin: 0px auto 4px 0;
  display: flex;
  top: 0%;
  left: 50%;
  margin-left: 40px;
  text-align: center;
}

.info {
  justify-items: legacy;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  max-width: 100%;
}

.info > h1 {
  font-size: 4.3rem;
  margin: 12px 0 0px;
  position: relative;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #607d8b;
}

.info > h2 {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #607d8b;
  margin-bottom: 150px;
}

.no-data-container {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* for cards */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#latest-topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#latest-topics .topics-represent {
  font-size: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.topics {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic {
  list-style: none;
}
