<div class="home-container">
  <div class="info">
    <h1>WELCOME TO THE WORLD OF ARMWRESTLING</h1>
    <h2>THE WHOLE ARMWRESTLING'S LIBRARY IN ONE BOOK</h2>
  </div>
</div>

<section id="top-houses">
  <h1>LATEST TOPICS...</h1>
  <div class="houses">
    <!-- {{#if realEstates}}
          {{#each realEstates}}
              {{> realEstateCard}}
          {{/each}}
      
      {{else}} -->
    <div class="no-data-container">
      <p class="no-data">There are no housing offers found...</p>
    </div>
    <!-- {{/if}} -->
  </div>
</section>
<h1 *ngIf="user$ | async as user">Welcome to our app, {{ user.email }}</h1>
<ng-container
  *ngIf="authService.currentUser$ | async as user; else entranceButtons"
>
</ng-container>

<ng-template #entranceButtons>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</ng-template>
