<div class="home-container">
  <div class="info">
    <h1>WELCOME TO THE WORLD OF ARMWRESTLING</h1>
    <h2>THE WHOLE ARMWRESTLING'S LIBRARY IN ONE BOOK</h2>
  </div>
</div>

<section id="latest-topics">
  <h1 class="topics-represent">LATEST TOPICS...</h1>
  <div class="container">
    <ul *ngIf="topics.length > 0" class="topics">
      <li class="topic" *ngFor="let topic of topics">
        <app-topic-card [topic]="topic"></app-topic-card>
      </li>
    </ul>

    <div *ngIf="topics.length === 0" class="no-data-container">
      <p class="no-data">There are no housing offers found...</p>
    </div>
  </div>
</section>
<h1 *ngIf="user$ | async as user">Welcome to our app, {{ user.email }}</h1>
<ng-container
  *ngIf="authService.currentUser$ | async as user; else entranceButtons"
>
</ng-container>

<ng-template #entranceButtons>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</ng-template>
