<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <h1>Registration Form</h1>

      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          #username="ngModel"
          ngModel
          type="text"
          name="username"
          id="username"
          class="error"
          placeholder="Mark Ulrich"
          required
        />
      </p>

      <!-- if error -->
      <p class="error">Message for Error</p>
      <!-- end if error -->

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          #email="ngModel"
          ngModel
          type="text"
          name="email"
          id="email"
          placeholder="marк@gmial.com"
          required
        />
      </p>

      <p class="field field-icon">
        <label for="tel"
          ><span><i class="fas fa-phone"></i></span
        ></label>
        <select name="telPrefix" id="tel" class="tel" ngModel>
          <option value="+359">+359</option>
        </select>
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="888 888"
          #mobilePhone
          ngModel
          required
        />
      </p>

      <p class="field field-icon">
        <label for="building"
          ><span><i class="fas fa-building"></i></span
        ></label>
        <select name="building" id="building" class="building" ngModel>
          <option value="Designer">Designer</option>
          <option value="Tap">Tap</option>
        </select>
      </p>

      <p class="field field-icon">
        <label for="password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          ngModel
          #password="ngModel"
          required
        />
      </p>

      <p class="field field-icon">
        <label for="re-password"
          ><span><i class="fas fa-lock"></i></span
        ></label>
        <input
          type="password"
          name="re-password"
          id="re-password"
          placeholder="******"
          ngModel
          #repass="ngModel"
          required
        />
      </p>

      <p>
        <button [disabled]="registerForm.invalid">Create Account</button>
      </p>

      <p class="text-center">
        Have an account?
        <a href="">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
