<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <h1>Registration Form</h1>

      <div>
        <p class="field field-icon">
          <label for="username"
            ><span><i class="fas fa-user"></i></span
          ></label>
          <input
            #username="ngModel"
            ngModel
            type="text"
            name="username"
            id="username"
            class="error"
            placeholder="Mark Ulrich"
            required
            pattern="^[A-Z][a-z]+\s[A-Z][a-z]+$"
          />
        </p>

        <ng-container
          *ngIf="username.touched && username.invalid"
          class="error"
        >
          <div *ngIf="username.errors?.['required']" class="error">
            username is required!
          </div>
          <div *ngIf="username.errors?.['pattern']" class="error">
            username must be valid!
          </div>
        </ng-container>
      </div>

      <div>
        <p class="field field-icon">
          <label for="email"
            ><span><i class="fas fa-envelope"></i></span
          ></label>
          <input
            #email="ngModel"
            ngModel
            type="text"
            name="email"
            id="email"
            placeholder="marк@gmail.com"
            required
          />
        </p>

        <ng-container *ngIf="email.touched && email.invalid" class="error">
          <div *ngIf="email.errors?.['required']" class="error">
            email is required!
          </div>
          <div *ngIf="email.errors?.['pattern']" class="error">
            email must be valid !
          </div>
        </ng-container>
      </div>

      <div>
        <p class="field field-icon">
          <label for="tel"
            ><span><i class="fas fa-phone"></i></span
          ></label>
          <select name="telPrefix" id="telPrefix" class="tel" ngModel>
            <option *ngFor="let prefix of telPrefixes" [value]="prefix">
              {{ prefix }}
            </option>
          </select>
          <input
            type="text"
            name="mobilePhone"
            id="mobilePhone"
            placeholder="888 888"
            ngModel
            #mobilePhone
            required
            minlength="9"
          />
        </p>
      </div>

      <p class="field field-icon">
        <label for="building"
          ><span><i class="fas fa-building"></i></span
        ></label>
        <select name="building" id="building" class="building" ngModel>
          <option *ngFor="let b of buildings" [value]="b">{{ b }}</option>
        </select>
      </p>

      <div>
        <p class="field field-icon">
          <label for="password"
            ><span><i class="fas fa-lock"></i></span
          ></label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="******"
            ngModel
            #password="ngModel"
            required
            minlength="3"
            maxlength="16"
            pattern="^[A-Za-z0-9]+$"
          />
        </p>

        <ng-container
          *ngIf="password.touched && password.invalid"
          class="error"
        >
          <div *ngIf="password.errors?.['required']" class="error">
            password is required!
          </div>
          <div *ngIf="password.errors?.['minlength']" class="error">
            password must be min 2 characters long
          </div>
          <div *ngIf="repass.errors?.['maxlength']" class="error">
            password must be max 16 characters long
          </div>
          <div *ngIf="repass.errors?.['pattern']" class="error">
            password must be only letters or numbers
          </div>
        </ng-container>
      </div>

      <div>
        <p class="field field-icon">
          <label for="re-password"
            ><span><i class="fas fa-lock"></i></span
          ></label>
          <input
            type="password"
            name="repass"
            id="repass"
            placeholder="******"
            ngModel
            #repass="ngModel"
            required
            minlength="3"
            maxlength="16"
            pattern="^[A-Za-z0-9]+$"
          />
        </p>

        <ng-container *ngIf="repass.touched && repass.invalid" class="error">
          <div *ngIf="repass.errors?.['required']" class="error">
            repass is required!
          </div>
          <div *ngIf="repass.errors?.['minlength']" class="error">
            repass must be more than 3 characters long
          </div>
          <div *ngIf="repass.errors?.['maxlength']" class="error">
            repass must be 16 characters long
          </div>
          <div *ngIf="repass.errors?.['pattern']" class="error">
            repass must be only letters or numbers
          </div>
        </ng-container>
      </div>

      <p>
        <button [disabled]="registerForm.invalid">Create Account</button>
      </p>

      <p class="text-center">
        Have an account?
        <a href="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
