<li>
  <div class="owner-info">
    <span class="owner">{{ comments[comment].ownerEmail }}</span>
  </div>
  <div class="comment-content">
    <div class="comment">
      <!-- <button class="like-btn">Like</button> -->
      <p class="likes-no">Likes: 1</p>
      <ng-container *ngIf="(user | async) && !isOwner">
        <button class="unlike-btn">Unlike</button>
      </ng-container>
      <p>
        {{ comments[comment].content }}
      </p>
      <!-- <span class="timestamp">{{
        comments[comment].createdAt | dateTransform | timeAgo
      }}</span> -->
    </div>
  </div>
</li>
