<li>
  <div class="owner-info">
    <span class="owner">{{ comments[comment].ownerEmail }}</span>
  </div>
  <div class="comment-content">
    <div class="comment">
      <p>
        {{ comments[comment].content }}
      </p>
      <div class="right-side">
        <ng-container *ngIf="user && isOwner">
          <button (click)="deleteHandler()" class="delete-btn">Delete</button>
        </ng-container>
        <span class="timestamp">{{
          comments[comment].createdAt | dateTransform | date : "medium"
        }}</span>
      </div>
    </div>
  </div>
</li>
